<div class="container">
    <div class="row">
        <h3 class="row">Pozdravljeni, {{currentUser.firstName}} {{currentUser.lastName}}</h3>
    </div>

    <div class="container{{#unless projects}} full-height valign-wrapper{{/unless}}">
        <p class="card-title">Vaši projekti</p>

        {{#if projects}}
            {{#each projects}}
                <div class="row suppress-bottom-margin">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <a href="/projects/{{this._id}}" class="card-title">{{this.name}}</a>
                                <p>{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h4 class="center full-width grey-text">Trenutno ne sodelujete na nobenem projektu.</h4>
        {{/if}}
    </div>
</div>