<div class="container">
    <div class="row page-title-wrapper">
        <a href="/projects" class="btn-flat back-button left">
            <i class="material-icons left back-icon">arrow_back</i>
        </a>

        <h5 class="page-title left">{{projectData.name}}</h5>
    </div>
    
    <div class="card">
        <div class="card-content">
            <p class="card-title">Podatki</p>

            <div class="row">
                <div class="col s12">
                    <p><span class="grey-text">Ime: </span>{{projectData.name}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p><span class="grey-text">Opis: </span>{{projectData.description}}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12">
                    <p><span class="grey-text">Ustvarjeno: </span>{{formatDate projectData._createdAt}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p><span class="grey-text">Nazadnje posodobljeno: </span>{{formatDate projectData._lastUpdatedAt}}</p>
                </div>
            </div>

            <div class="row suppress-bottom-margin">
                <div class="col s12">
                    <p class="users-label grey-text">Produktni vodja:</p>

                    <div class="chip">
                        {{projectData.productLeader.firstName}}{{#if projectData.productLeader.lastName}} {{projectData.productLeader.lastName}}{{/if}}
                    </div>
                </div>
            </div>

            <div class="row suppress-bottom-margin">
                <div class="col s12">
                    <p class="users-label grey-text">Vodja metodologije:</p>

                    <div class="chip">
                        {{projectData.scrumMaster.firstName}}{{#if projectData.scrumMaster.lastName}} {{projectData.scrumMaster.lastName}}{{/if}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="users-label grey-text">Razvijalci:</p>

                    {{#each projectData.developers}}
                        <div class="chip">
                            {{this.firstName}}{{#if this.lastName}} {{this.lastName}}{{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
            
            {{#if userCanEditProject}}
                <div class="divider row"></div>

                <div class="row suppress-bottom-margin">
                    <a class="waves-effect waves-light btn theme-color right" href="/projects/{{projectData._id}}/edit">Uredi podatke</a>
                </div>
            {{/if}}
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <p class="card-title">Seznam zahtev</p>

            {{#if hasStories}}
                <div class="row span-full-card-width">
                    <ul class="tabs tabs-fixed-width tabs-with-border">
                        <li class="tab"><a href="#unrealizedStories">Nerealizirane</a></li>
                        <li class="tab"><a href="#realizedStories">Realizirane</a></li>
                    </ul>
                </div>
            
                <div id="unrealizedStories">
                    <p>Dodeljene v aktivni Sprint:</p>

                    {{#if activeSprint}}
                        {{#each productBacklog.storiesInActiveSprint}}
                            {{> storyCard story=this}}
                        {{else}}
                            <div class="row">
                                <p class="center grey-text">Aktivni sprint nima nobene dodeljene zgodbe.</p>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="row">
                            <p class="center grey-text">Trenutno ni aktivnega Sprinta.</p>
                        </div>
                    {{/if}}
                    
                    <p class="card-subtitle">Nedodeljene:</p>

                    {{#each productBacklog.storiesWithoutSprint}}
                        {{> storyCard story=this}}
                    {{else}}
                        <div class="row">
                            <p class="center grey-text">Ni nedodeljenih zgodb.</p>
                        </div>
                    {{/each}}
                </div>
            
                <div id="realizedStories">
                    {{#each productBacklog.storiesFinished}}
                        {{> storyCard story=this}}
                    {{else}}
                        <div class="row">
                            <p class="center grey-text">Nobena zgodba še ni bila zaključena.</p>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <div class="row">
                    <p class="center grey-text">Seznam zahtev nima še nobene uporabniške zgodbe.</p>
                </div>
            {{/if}}

            {{#if userCanAddUserStories}}
                <div class="divider row"></div>
            
                <div class="row suppress-bottom-margin">
                    <a class="waves-effect waves-light btn theme-color right" href="/projects/{{projectData._id}}/stories/create">Dodaj novo zgodbo</a>
                </div>
            {{/if}}
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <p class="card-title">Sprinti</p>

            <div class="row span-full-card-width">
                <ul class="tabs tabs-fixed-width tabs-with-border">
                    <li class="tab"><a href="#activeSprint">Aktiven Sprint</a></li>
                    <li class="tab"><a href="#inactiveSprints">Neaktivni sprinti</a></li>
                </ul>
            </div>

            <div id="activeSprint">
                {{#each activeSprint}}
                    <div class="row suppress-bottom-margin">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <a href="" class="card-title">Aktiven sprint na projektu</a>

                                    <div class="row">
                                        <div class="col s12">
                                            <p><span class="grey-text">Začetek sprinta: </span>{{this.startDate}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <p><span class="grey-text">Konec sprinta: </span>{{this.endDate}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <p><span class="grey-text">Hitrost sprinta: </span>{{this.velocity}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="row">
                        <p class="center grey-text">Trenutno ni aktivnega Sprinta.</p>
                    </div>
                {{/each}}
            </div>

            <div id="inactiveSprints">
                {{#each inactiveSprints}}
                    <div class="row suppress-bottom-margin">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <a href="" class="card-title">Neaktiven sprint</a>

                                    <div class="row">
                                        <div class="col s12">
                                            <p><span class="grey-text">Začetek sprinta: </span>{{this.startDate}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <p><span class="grey-text">Konec sprinta: </span>{{this.endDate}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <p><span class="grey-text">Hitrost sprinta: </span>{{this.velocity}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="row">
                        <p class="center grey-text">Ni neaktivnih Sprintov.</p>
                    </div>
                {{/each}}
            </div>

            {{#if userCanAddSprint}}
                <div class="divider row"></div>
            
                <div class="row suppress-bottom-margin">
                    <a class="waves-effect waves-light btn theme-color right" href="/projects/{{projectData._id}}/sprints/create">Dodaj nov Sprint</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>