<div class="container {{#unless users}}full-height valign-wrapper{{/unless}}">
    {{#if users}}
        {{#each users}}
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <a href="" class="card-title">{{this.username}}</a>
                            <div class="row suppress-bottom-margin">
                                <div class="col s9">
                                    <p>{{this.firstName}} {{this.lastName}}</p>
                                </div>
                                <div class="col s3">
                                    <p class="userRole right">{{this.role}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h4 class="center full-width grey-text">Ni nobenih uporabnikov</h4>
    {{/if}}
</div>

<div class="fixed-action-btn">
    <a href="/users/create" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
</div>